
<input type="text" class="form-control" [(ngModel)]="carName" >
<br>
<button  class="btn btn-primary" (click)="addCar()" >Добавить машину</button>

<!-- 
    <p *ngIf="!addCarStatus" >Машине не добавлена</p>
    <p *ngIf="addCarStatus" >Машине добавлена!!!</p> 
-->
    <p *ngIf="!addCarStatus; else successStatus" >Машине не добавлена</p>
    <ng-template #successStatus >
        <p>Машине добавлена!!!</p>
    </ng-template>
    


<hr> 

<!-- <app-car *ngFor="let car of cars" ></app-car> -->

<ul>
    <li *ngFor="let date of dates; let idx = index" >
        <span>
            <b> {{ idx + 1 }} </b> - {{ date | date }}
        </span>
    </li>
</ul>
